body{
    background-color: #E6E6E6;
}

#logo{
    width:105px;
    height:105px;
    margin-top: 38px;
}
#logo-sm{
    width:105px;
    height:105px;
    margin-top: 38px;
}

#nav-items{
    margin-top: 75px;
    margin-left: 100px;
}

#white-stripe{
    margin-top: 50px;
    height: 75px;
    width: 100%;
    background-color: #f0f0f0;
    z-index: -1;
    position: absolute;
}

/*#top{*/
/*    margin-top: 38px;*/
/*}*/


/*.navbar-brand{*/
/*    margin-left: 110px;*/
/*}*/

/*nav{*/
/*    margin-top: 40px;*/
/*    z-index: 1000;*/
/*    position: fixed;*/
hr{
    border:1px solid grey;
}

.images{
    width:100%;
    height:auto;
}

.small-img{
    width:70px;
    height:70px;
}

.row{
    margin-bottom: 4em;
}

/*.navbar>.container{*/
/*    justify-content: unset;*/
/*}*/

#ml-auto{
    margin-left: auto;
}

#big-badges > *{
    border-radius: 50%;
    height: 105px;
    width: 105px;
}

/*@media screen and (max-width:767px;){*/
/*    #off{*/
/*        display: none;*/
/*    }*/
/*}*/
