body {
    background: #f0f0f0;
    font-size: 1.2em;
    font-family: 'Abel', sans-serif;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

hr{
    border:1px solid lightgrey;
}

.images{
    width:100%;
    height:auto;
    border: 7px solid #e0e0e0;
    border-radius: 10px;
}

.small-img{
    width:70px;
    height:70px;
}

.row{
    margin-bottom: 4em;
}

#ml-auto{
    margin-left: auto;
}

#big-buttons > div{
    border: solid 10px white;
    height: 150px;
    width: 150px;

}

#big-buttons > div >a{
    color:white;
    font-weight: bolder;
}

.small-buttons > div{
    height: 28px;
    width: 28px;
}

a{
    text-decoration: none;
    color:black;
}

.red{
    background-color: #E6563B;
}

.orange{
    background-color: #EB9D3A;
}

.green{
    background-color: #7CB06C;
}

.blue{
    background-color: #00ABA9;
}

.twitter{
    height:28px;
    width:28px;
}

.last{
    font-family: 'Abel', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 992px) {
    .brand-name  {
        position: relative;
        top: 5px;
    }
}
